/* Styling for body */
body {
    background-color: #69aaf9;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Page Title */
.page-title {
    font-size: 2.5em;
    color: #ff6347;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

/* Container for login */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

/* Style for all forms */
form {
    background: white;
    padding: 3em;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(1, 1, 1, 0.1);
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}

/* Ensures delete button is not targeted by form styling */
.delete-form {
    display: inline;
    margin: 0;
    padding: 0;
}