<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
<form action="/login" method="post">
    <h2>Login</h2>
    {% if error %}
    <div class="error-message">{{ error }}</div>
    {% endif %}
    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" required>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required>
    </div>
    <button type="submit" class="btn">Login</button>
</form>

<!-- Adds the link to signup page -->
<p>Don't have an account? <a href="{{ url_for('signup') }}">Sign Up</a></p>

</body>
